@import "mixin";
body {
  background-color: #f0f3f5;
}
.dummy {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 260px;
  top: 0;
  background: rgba(#000, 0.3);
  opacity: 0;
  transition: left 0.1s ;
    &.active {
      z-index: 99;
      width: calc(100% - 260px);
      opacity: 1;
      background: rgba(#000, 0.3);
      transition:  opacity 0.8s , width 2s, z-index 1s;
    }
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  padding: 10px;
  height: 100%;
  width: 260px;
  background: linear-gradient(to bottom, #6bbff5, #5572d8);
  box-sizing: border-box;
  transition: all 0.5s;
  &.active {
    left: 0;
  }

  h1 {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
    figure {
      width: 90%;
      margin: 0 auto;
      padding: 10px 5px;
      background-color: white;
      border-radius: 50px;
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  } //h1
  .gnb {
    margin: 20px auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        margin: 10px 10px;
        padding: 15px 0;
        opacity: 0.8;
        transition: opacity 0.3s, background 0.3s;
        background: rgba(#a0c1d6, 0.5);
        border-radius: 20px;
        figure {
          img {
            display: block;
            width: 50%;
            margin: 0 auto;
          }
        } //figure
        p {
          color: white;
          font-weight: 500;
          text-align: center;
        } //p
        &:hover {
          opacity: 1;
          background: #6bbff5;
        }
        &.active {
          opacity: 1;
          background: #2e7cd6;
          border-radius: 20px;
        }
      } //li
    } //ul
  } //gnb
} //header
